@model PCRepairShop.ViewModels.RepairOrderVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>Order status : Awaiting count : @Model.StatusCounter["Awaiting"], Processing: @Model.StatusCounter["Processing"] , Awaiting Parts: @Model.StatusCounter["AwaitingParts"], Closed: @Model.StatusCounter["Closed"]</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Counter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.RepairOrders) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Counter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
